.img-resize{
    width: 600px;
    height: auto;
}
h1{
    color: blue;
    font-size: 100px;
}
.header{
    background-color: crimson;
    font-size: 200px;
}
h2{
    color: forestgreen;
    font-size: 50px;
}
h7{
    color: grey;
    font-size: 30px;
}
.name-heading{
    font-size: 60px;
    background-color: tomato;
    text-decoration: underline;
    text-transform: capitalize;
}
#container{
    float: left;
}
body {
    font-family: sans-serif;
  }
  @media screen and (min-width: 768px) {
    body {
      background-color: yellowgreen;
    }
    .column {
      width: 220px;
      float: left;
      padding: 15px;
    }
  }